{{>styleing}}
<div class="container">
<div class="row">
<div class=" col-md-offset-3 col-md-7">
<form id="input-form">
<h5 id="form-heading">Create/Add Company</h5>
<div class="form-group">
<label>Company Name:</label>
<input type="text" class="form-control" id="shopname" placeholder="Company Name" required>
</div>
<div class="form-group">
<label>Address:</label>
<input type="text" class="form-control" id="address1" placeholder="Address" required>
</div>
<div class="form-group">
    <label>Alt Address:</label>
    <input type="text" class="form-control" id="address2" placeholder="Alternative Address" required>
</div>
<div class="form-group col-md-6">
    <label>Area Code:</label>
    <input type="text" class="form-control"  id="code" placeholder="Area Code" required>
</div>
<div class="form-group col-md-6">
    <label>City:</label>
    <input type="text" class="form-control" id="city" placeholder="City" required>
</div>
<div class="form-group col-md-6">
    <label>State:</label>
    <input type="text" class="form-control" id="state" placeholder="State" required>
</div>
<div class="form-group col-md-6">
    <label>Mobile No:</label>
    <input type="text" class="form-control" id="mobileNo" placeholder="Phone Number" required>
</div>
<div class="form-group">
    <label>GST:</label>
    <input type="text" class="form-control" id="gst" placeholder="GST">
</div>
<div>
 <div id="s-error" style="border:1px solid red;padding:10px;text-align:center;background-color:tomato;font-size:15px;display:none;margin-bottom:5px;">

 </div>
</div>
<div class="form-group">
    <input type="submit" class="btn btn-secondary" id= "create-account">
</div>
</form>
</div>
</div>
</div>
<script src="./jquery.min.js"></script>
<script src="./shop-validation.js"></script>
                               

    
   

