
    <!-- Navbar -->
    {{>header}}
    
  <title>Orders</title>
    <div class="jumbotron color-grey-light mt-70">
      <div class="d-flex align-items-center h-100">
        <div class="container text-center py-5">
          <h2 class="mb-0"><b>ORDER PAGE</b></h2>
        </div>
      </div>
    </div>

  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <main>
    <div class="container-fluid">

      <!--Section: Block Content-->
      <section class="mt-5 mb-4">

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-lg-12">

            <!-- Card -->
            <div class="card wish-list mb-4">
              <div class="card-body order-body">

                
              
           

              </div>
            </div>
           
        </div>
        <!--Grid row-->

      </section>
      <!--Section: Block Content-->

    </div>
  </main>
 
 {{>footer}}
<script src="./order.js"></script>



    