	{{>sh}}

<div class="inner-block">
    <div class="product-block">
    	<div class="pro-head">
    		<h2>Orders</h2>
    	</div>
         <div class="order-shop-div">

         </div>

      <div class="clearfix"> </div>
    </div>
</div>


<!--copy rights start here-->

<!--COPY rights end here-->
</div>
</div>
<!--slider menu-->
   {{>sidebar}}
	<div class="clearfix"> </div>
</div>

<!--slide bar menu end here-->

                   
                                
                                       
                    
                  
    <script src='./jquery.min.js'></script>
    <script src="./seller-side-order.js"></script>
  
</body>
</html>
