	{{>admin_header}}
{{>uploadcss}}
<div class="inner-block">
    <div class="product-block">
    	<div class="pro-head" >
    		<h2>Slider Imges</h2>
    	</div>
    <div id="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                  <!-- post-container -->
                  

                      
                    <div class="post-container" style="margin-bottom: 20px;">
                          
                        <div class="det">
                          <div class="row" style="text-align: center;"> 
                            <div class="slider-images">
                              
                            </div>
                           
                          <div class='col-md-4'>
                           <form action='/add-sliderimg' method='POST' id='input-form' enctype="multipart/form-data">
                            <input type="file" name="images" multiple>
                            <br>
                            <input type="submit" class="btn btn-primary" style="float:left;">
                          </form>
                          </div>
                          
                            </div>

                          </div>
                          
                         
                   
                              
                         
                    </div>
                </div>
            </div>
        </div>
    </div>
  <div class="clearfix"> </div>
    </div>
</div>


<!--copy rights start here-->

<!--COPY rights end here-->
</div>
</div>
<!--slider menu-->
   {{>admin_sidebar}}
	<div class="clearfix"> </div>
</div>
      <script src='./jquery.min.js'></script>
      <script src="./slider.js"></script>
    <script>
           
       
           
        
    
    </script>
</body>
</html>
