<html>
    <head>
{{>styleing}}

</head>
<body>
    {{>seller_header}}
    <div id="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                  <!-- post-container -->
                    <div class="post-container">
                        <div class="post-content single-post">
                            <h3>view order</h3>
                            <hr>
                            <div class="post-information">

                                <div>
                                    <table class="orders">
                                        <tr>
                                   <td>Customer Name</td>
                                   <td>barot kunjan</td>
                                   </tr>
                                         <tr>
                                   <td>Address</td>
                                   <td>s5,pooja aepartmnet </td>
                                   </tr>
                                        <tr>
                                   <td>City</td>
                                   <td>mehsana</td>
                                   </tr>     
                                   <tr>
                                   <td>Code</td>
                                   <td>3804002</td>
                                   </tr>
                                   <tr>
                                   <td>State</td>
                                   <td>gujrat</td>
                                   </tr>
                                  
                                    <tr>
                                   <td>Date</td>
                                   <td>28/2/2021</td>
                                   </tr>
                                 </table>
                                 <br>
                                 <h5>product Details</h5>
                                 <hr>
                                <div id='product'>
                                <img src="images/post-format.jpg" alt=""/>                                </div>
                                 <span id='post-details'>
                                       <table class="orders">
                                        <tr>
                                   <td>product Name</td>
                                   <td>flange</td>
                                   </tr>
                                         <tr>
                                   <td>Description</td>
                                   <td>adfghjkl qwertyuiozxcvbnm</td>
                                   </tr>
                                        <tr>
                                   <td>Gst</td>
                                   <td>10%</td>
                                   </tr>     
                                   <tr>
                                   <td>Price</td>
                                   <td>20000</td>
                                   </tr>
                                    <tr>
                                   <td>Total Price(Gst%)</td>
                                   <td>22000</td>
                                   </tr>
                                    <tr>
                                   <td>payment Details</td>
                                   <td>Cod/onlion payment</td>
                                   </tr>
                                   </table> 
                                 </span>
                                </div>
                            <hr>
                               <input type='submit' value="Process">
                            </div>
                          
                           
                        </div>
                    </div>
                    <!-- /post-container -->
                </div>

            </div>
        </div>
    </div>
</body>
</html>
