  <footer class="page-footer font-small elegant-color">

    <div class="color-primary">
      <div class="container">

        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">

          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0">Get connected with us on social networks!</h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">

            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fa fa-facebook-f white-text mr-4"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fa fa-twitter white-text mr-4"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <i class="fa fa-google-plus-g white-text mr-4"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <i class="fa fa-linkedin white-text mr-4"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fa fa-instagram white-text"> </i>
            </a>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row-->

      </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left pt-4 pt-md-5">

      <!-- Grid row -->
      <div class="row mt-1 mt-md-0 mb-4 mb-md-0">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">

          <!-- Links -->
          <h5>About us</h5>
          <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">

          <p class="foot-desc mb-0 about">Here you can use rows and columns to organize your footer content. Lorem
            ipsum dolor sit amet,
            consectetur
            adipisicing elit.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">

          <!-- Links -->
          <h5>Offices</h5>
          <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">

          <ul class="list-unstyled foot-desc office">
           
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
     
        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">

          <!-- Links -->
          <h5>Contacts</h5>
          <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">

          <ul class="fa-ul foot-desc ml-4">
            <li class="mb-2" id='address'>
            </li>
            <li class="mb-2" id='contact'></li>
           
            
          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://ongc.com/"> matirials.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  
  <script src="./jquerysi.min.js"></script>
   <script src="./cart.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="./popersi.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="./bootstrapsi.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="./mdbsi.min.js"></script>
    <!-- MDB Ecommerce JavaScript -->
    <script type="text/javascript" src="./mdbecommercesi.min.js"></script>
    <script>
     
      $.ajax({
        url:"/show-web-footer",
        type:'POST',
        success:function(data){
          let Office=data[0].office.split(',')
          Office.forEach(off=>{
            $('.office').append(`<li class="mb-2">
              <a href="#!">${off}</a>
            </li>`);
          })
          $('.about').text(data[0].aboutus)
          $('#address').html(`<span class="fa-li"><i class="fa fa-map"></i></span>${data[0].address}`)
          $('#contact').html(`<span class="fa-li"><i class="fa fa-phone"></i></span>${data[0].contact}`);
        
        }
      })
    </script>
 