
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  

<link rel="stylesheet" href="./gooleapis.css">
 <link rel="stylesheet" href="./style.css">
 <!-- Font Awesome -->
{{!-- <link rel="stylesheet" href="./front.min.css"> --}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <!-- Material Design Bootstrap -->
<link rel="stylesheet" href="./mdbsi.min.css">
  <!-- Material Design Bootstrap Ecommerce -->
<link rel="stylesheet" href="./mdbecommercesi.min.css">
 <!-- Bootstrap core CSS -->
 <link rel="stylesheet" href="./botsrapsi.min.css">
</head>

<body class="skin-light">

  <!--Main Navigation-->
  <header>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light fixed-top scrolling-navbar">
      <div class="container-fluid">

        <!-- Brand -->
        <a class="navbar-brand" href="/" >
        <img src='/images/WhatsApp Image 2021-04-02 at 9.19.14 AM.jpeg' style="height:4rem;width:4rem;">

        </a>
        <input type="text" id='search' class='form-control' style="width:30rem;" placeholder="Search here">
        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

          <!-- Right -->
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="/cart" class="nav-link navbar-link-2 waves-effect">
                <span class="badge badge-pill red"></span>
                <i class="fa fa-shopping-cart pl-0"></i>
              </a>
            </li>
             <li class="nav-item">
              <a href="/order" class="nav-link waves-effect">
                Order
              </a>
            </li>
             <li class="nav-item">
              <a href="/history" class="nav-link waves-effect">
                History
              </a>
            </li>
           
            <li class="nav-item">
              <a href="/shop" class="nav-link waves-effect">
                Shop
              </a>
            </li>
           
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle waves-effect" id="navbarDropdownMenuLink3" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
                <i class="fa fa-user-circle"></i> <span id='user_name'></span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/login" ><i class='fa fa-user'></i> Sign up</a>
                <a class="dropdown-item" href="/logout"><i class="fa fa-sign-out"></i> Logout</a>
        
              </div>
            </li>
          </ul>

        </div>
        <!-- Links -->
      </div>
    </nav>
    <script src="./jquery.min.js"></script>
    <script>
      $.ajax({
        url:'/auth',
        type:"POST",
        success:function(data){
         
          $('#user_name').html(`<span>${data}</span>`)
        }
        
      })
    $.ajax({
      url:'/total-cart-product',
      type:"POST",
      success:function(data){
        console.log(data)
        if(data>=0){
         $('.badge-pill').text(data);
        }
       
      }
    })
    </script>
        
 
