 <div class="sidebar-menu">
		  	<div class="logo"> <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="#"> <span id="logo" ></span> 
			      <!--<img id="logo" src="" alt="Logo"/>--> 
			  </a> </div>		  
		    <div class="menu">
		      <ul id="menu" >
		        <li id="menu-home" ><a href="/ourorders"><i class="fa fa-first-order"></i><span>Orders</span></a></li>
		       
		        <li><a href="/total-selling"><i class="fa fa-rupee"></i><span>Selling</span></a></li>
		          <li><a href="/view-product"><i class="fa fa-shopping-cart"></i><span>Product</span></a></li>
				   <li><a href="/add-product"><i class="fa fa-plus"></i><span>Add product</span></a></li>
	
		        
	

		      </ul>
		    </div>
	 </div>